/* Reset default styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Our main style */

html, body {
	margin: 0;
}

body {
	background-color: #ffffff;
	font-family: 'Nunito', sans-serif;
	height: 4000px;
}

* {
	box-sizing: border-box;
}


.middle {
	height: 100%;
	width: 1180px;
	margin: 0 auto;
}


/* Header style */
	
.header {
	width: 100%;
	height: 70px;

	position: fixed;
	top: -70px;
	left: 0;
	right: 0;

	z-index: 100;
	background-color: #ffffff;
	box-shadow: 0 2px 15px 1px rgba(0, 0, 0, .1);
	transition: .3s ease-in;
}

.header-show {
	top: 0;
}

.inner-header {
	top: 0;
}

.slider {
	width: 100%;
	height: 100%;
}

.owl-stage-outer,
.owl-stage,
.owl-item {
	height: 100%;
}

.header .menu {
	/* text-align: center; */
	height: 100%;
	
	/* Pasiskaityti apie flexbox */
	display: flex;
	align-items: center;
	justify-content: center;

	/* padding-top: 26px; */
}

.header .menu li {
	display: inline;
	margin: 0 20px;
	position: relative;
	padding: 8px;
}

.header .menu li::after {
	content: '';
	width: 0;
	height: 2px;
	background-color: #000;
	
	position: absolute;
	left: 0;
	bottom: 0;

	transition: .3s ease-in;
}

.header .menu li:hover::after {
	width: 100%;
	background-color: #f6c600;
}

.header .menu li a {
	display: block;
	height: 100%;
	font-size: 20px;
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
	transition: .3s ease-in;
}

.header .menu li:hover a {
	color: #f6c600;
}

.burger {
	position: fixed;
	top: 20px;
	right: 20px;

	width: 30px;

	cursor: pointer;

	z-index: 1000;

	display: none;
}

.burger div {
	width: 100%;
	height: 4px;

	background-color: #f6c600;
	margin-bottom: 4px;
	border-radius: 5px;
	transition: .3s ease-in;
}

.burger-expand div {
	background-color: #ffffff;
}

.mobile-menu {
	width: 100%;
	height: 100vh;
	background-color: #f6c600;
	padding: 20px;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	display: none;

	opacity: 0;
	visibility: hidden;

	z-index: 999;

	transition: .3s ease-in;
}

.mobile-menu-expand {
	opacity: 1;
	visibility: visible;
	background-color: rgba(200, 50, 0, 0.75);
}

.mobile-menu ul {
	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

}

.mobile-menu ul li {
	width: 100%;
	text-align: center;
}

.mobile-menu ul li a {
	color: #ffffff;
	text-decoration: none;
	font-size: 32px;
}

/* .header */


.hero-block {
	width: 100%;
	height: 100vh;
	position: relative;
	background-color: #000000;

	overflow: hidden;
}

.inner-page {
	height: 50vh;
}

.hero-block .text-container,
.hero-block .first-img,
.hero-block .second-img {
	position: absolute;
}

/* hero block images */
.hero-block .first-img,
.hero-block .second-img {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.hero-block .first-img {
	z-index: 11;
}

.hero-block .first-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.hero-block .second-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
/* .images */

/* Hero block text */
.hero-block .text-container {
	top: 50%;
	z-index: 20;
	/* background-color: rgba(255, 255, 255, .55); */
	padding: 20px;
	text-align: center;
	color: #ffffff;

	left: 50px;

	transform: translateY(-50%);
}

.text-container h1 {
	text-transform: uppercase;
	font-size: 100px;
	font-weight: 900;
}

.text-container h4 {
	font-size: 28px;
	font-weight: 600;
}
/* .Hero block text */



/* Second block */
.second-block {
	height: 500px;
	background-color: #00B9C1;
}

/* .second block */


/* Images block */
.images-block {
	padding-top: 150px;
	height: 3300px;
	overflow-x: hidden;
}

.images-block .middle {
	position: relative;
}

.images-block .text {
	width: 50%;

	position: absolute;

}

.images-block .left {
	left: 0;
}

.images-block .right {
	right: 0;
}

.images-block h3 {
	font-size: 90px;
	text-transform: uppercase;
	font-weight: 900;
	text-align: center;
}

.images-block p {
	font-size: 22px;
	line-height: 26px;
}

.images-block .item {
	position: absolute;
	background-color: #000000;
	box-shadow: 2px 2px 25px 0 rgba(0, 0, 0, .35);
	overflow: hidden;
}

.images-block .item img {
	width: 100%;
	opacity: .65;

	transition: .3s ease-in;
}

.images-block .item img:hover {
	opacity: .95;
	transform: scale(1.15);
}

.images-block .item-lg {
	width: 75%;
}

.images-block .item-md {
	width: 45%;
}

.images-block .item-sm {
	width: 25%;
}

.item-1 {
	top: 700px;
	left: 0;
}

.item-2 {
	top: 850px;
	right: 50px;
}

.item-3 {
	top: 1300px;
	left: 50%;
	z-index: 10;
}

.item-4 {
	top: 1450px;
	right: 0;

}

.item-5 {
	top: 1650px;
	left: 0;
}

.item-6 {
	top: 1900px;
	right: 50px;
}

.item-7 {
	top: 2250px;
	left: 50%;
	z-index: 10;
}

.item-8 {
	top: 2450px;
	right: 0;

}


.images-block .item ul {
	display: none;
}

.footer {
	height: 60px;
	background-color: #f6c600;
}

.footer .middle {
	display: flex;
	align-items: center;
	justify-content: center;
}

.popup-box {
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0, .75);
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;

	opacity: 0;
	visibility: hidden;

	transition: .5s ease-in-out;
}

.pop-show {
	z-index: 9999;

	opacity: 1;
	visibility: visible;
}

.popup-box .image {
	width: 50%;
	height: 50%;
	background-color: #ffffff;

	position: absolute;
	left: 10%;
	top: 20%;
}

.popup-box .image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.popup-box .info {
	width: 30%;
	height: 50%;
	position: absolute;
	top: 20%;
	left: 60%;
	background-color: #eeeeee;
}

/* .images block */



/* Responsive */

/* 0 - 1200px plocio */
@media (max-width: 1200px) {
	.middle {
		width: 970px;
	}
}


/* 0 - 990 */
@media (max-width: 990px) {
	.middle {
		width: 95%;
	}
}

/* 0 - 768 */
@media (max-width: 768px) {
	.header {
		display: none;
	}

	.burger {
		display: block;
	}

	.mobile-menu {
		display: block;
	}

	.hero-block .text-container {
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.text-container h1 {
		font-size: 64px;
	}

	.text-container h4 {
		font-size: 18px;
	}
 }

 @media (max-width: 500px) {
	.text-container h1 {
		font-size: 42px;
	}
 }
